:root {
    --bg: #03040a;
    --panel: #0b0f14;
    --white: #e9f0fb;
    --detail: #ea0000;
    --grey: #98a3b3;
    --glass: rgba(255,255,255,0.03);
    --card-radius: 12px;
    --zeropacity: rgba(0, 0, 0, 0);
}