:root {
    --bg: #03040a;
    --panel: #0b0f14;
    --white: #e9f0fb;
    --detail: #ffe81f;
    --detail2: #ff0000;
    --detail3: #00ff2f;
    --grey: #98a3b3;
    --glass: rgba(255,255,255,0.03);
    --card-radius: 12px;
    --zeropacity: rgba(0, 0, 0, 0);
    --navBG: rgba(0, 0, 0, 0.488)
}

::selection {
  background: var(--detail);
  color: black;
  text-shadow: none;
}

::-moz-selection {
  background: var(--detail);
  color: black;
  text-shadow: none;
}

@font-face {
    font-family: Font;
    src: url(../data/font.ttf);
}

@font-face {
    font-family: FontOutline;
    src: url(../data/fontOutline.ttf);
    }

* { 
    box-sizing: border-box; 
}

html, body {  
    margin:0; 
    font-family: Font;
    background: var(--bg);
    color: var(--white); 
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.stars, .stars2, .stars3 {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-repeat: repeat;
    z-index: 100;
}

.stars {
    background-image:
    radial-gradient(2px 2px at 20px 30px, var(--white), rgba(0,0,0,0)),
    radial-gradient(2px 2px at 200px 150px, var(--white), rgba(0,0,0,0)),
    radial-gradient(2px 2px at 300px 250px, var(--white), rgba(0,0,0,0)),
    radial-gradient(2px 2px at 500px 80px, var(--white), rgba(0,0,0,0)),
    radial-gradient(2px 2px at 700px 300px, var(--white), rgba(0,0,0,0)),
    radial-gradient(2px 2px at 900px 200px, var(--white), rgba(0,0,0,0)),
    radial-gradient(2px 2px at 1200px 400px, var(--white), rgba(0,0,0,0));
    background-size: 1000px 1000px;
    animation: animStar 5s linear infinite;
}

.stars2 {
    background-image:
    radial-gradient(3px 3px at 100px 50px, var(--white), rgba(0,0,0,0)),
    radial-gradient(3px 3px at 400px 200px, var(--white), rgba(0,0,0,0)),
    radial-gradient(3px 3px at 800px 320px, var(--white), rgba(0,0,0,0)),
    radial-gradient(3px 3px at 1200px 150px, var(--white), rgba(0,0,0,0));
    background-size: 1500px 1500px;
    animation: animStar 8s linear infinite;
}

.stars3 {
    background-image:
    radial-gradient(4px 4px at 500px 100px, var(--white), rgba(0,0,0,0)),
    radial-gradient(4px 4px at 1000px 400px, var(--white), rgba(0,0,0,0)),
    radial-gradient(4px 4px at 1400px 250px, var(--white), rgba(0,0,0,0));
    background-size: 2000px 2000px;
    animation: animStar 12s linear infinite;
}

@keyframes animStar {
    from { transform: translateY(0); }
    to { transform: translateY(-1000px); }
}

.intro {
    position: relative;
    left: 0;
    background-color: var(--bg);
    z-index: 0;
    height:100vh;
    width: 100vw;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    position: relative; 
    text-align: center;
    font-size: 5vw;
    margin: 0 0;
    transition: all 0.2s ease-in-out;
    color: var(--bg); 
    text-shadow: -1px -1px 0 var(--detail), 1px -1px 0 var(--detail), 
    -1px 1px 0 var(--detail), 1px 1px 0 var(--detail);
}

.title p{
    margin: -8vh 0;
}

.title p:nth-child(2){ 
    margin: -12.5% 0;
    font-size: 7vw;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    width: 100%;
    height: 100%;
    padding: 10%; 
    z-index: 200;
}

@media (max-width: 1400px) {
    .title-container {  
        flex-wrap: wrap;    
        justify-content: center;  
        gap: 2vw;  
        padding: 15rem;                          
    }

    .title {
        font-size: 5.5rem;             
        text-align: center;         
    }
    .title p:nth-child(2){ 
        font-size: 8rem;
    }
}

@media (max-width: 1000px) {
    .title-container {  
        padding: 30vw;                          
    }
}

@media (max-width: 800px) {
    .title {
        font-size: 4.5rem;                     
    }
    .title p:nth-child(2){ 
        font-size: 6.3rem;
    }
}

@media (max-width: 565px) {
    .title-container {
        margin: 20vh 0;
        height: 50%;
    }    
    .title { 
        margin: 10vh 0;
        font-size: 10vw;                     
    }
    .title p:nth-child(2){ 
        font-size: 15vw;    
    }
}

.hero-img {
    width: 100%;                
    max-width: 35vw; 
    min-width: 500px; 
    height: auto;
    filter: drop-shadow(0 0 15px black);
}


@media (max-width: 600px) {
    .title { 
        padding: 0 0 0 0;        
    }
    .hero-img {
        min-width: 300px; 
    }
}

.topnav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 5vw;
    position: fixed; 
    z-index: 50;
}

.topnav a{
    text-decoration: none;
}

.modes {
    position: fixed;
    top: 0;
    margin: 35vh 0;
    display: flex; 
    align-items: center;   
    justify-content: center; 
    gap: 15px;
    left: 0.5vw;
    font-size: 3em;
    cursor: pointer;
    z-index: 1000;
    transition: 0.2s ease-in-out;
}

.mode {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease;
}

.mode svg {
  width: 2.5rem;   
  height: 2.5rem;
  display: block;
}

.Sith-mode svg {
  width: 5rem;   
  height: 5rem;
}

.mode:hover {
  opacity: 1;
  transform: scale(1.15);
}

.mode.active {
    opacity: 1;
    transform: scale(1.15);
}


@media (max-width: 900px) {
    .modes {
        position: fixed;
        top: 0;
        height: 5vh;
        margin: 14vh 5vw;
        gap: 5px;
        display: flex;
        flex-direction: flex-start; 
        font-size: 2.5em;
    }

    .mode svg {
        width: 5vh;  
        height: 5vh;
    }

    .Sith-mode svg {
        width: 4.5rem;   
        height: 4.5rem;
    }
}

@media (min-width: 901px) {
    .modes {
        flex-direction: column; 
    }
}

.scroll-btn {
    position: fixed;
    right: 0.9vw;
    background: var(--zeropacity);
    border: none;
    color: var(--grey); 
    cursor: pointer;
    transition: 0.2s;
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.scroll-btn:hover {
    color: var(--detail);
    transform: translateY(-4px) scale(1.1);
}

.scroll-btn svg {
    width: 5.5rem;
    height: 3.5rem;
}

#scrollUp {
    bottom: 50%;
}

#scrollDown:hover {
    transform: translateY(4px) scale(1.1);
}

#scrollDown {
    bottom: 41%;
}

@media (max-width: 1000px) {
    .scroll-btn {  
        display: none;                          
    }
}

.brand { 
    font-family: Font;
    margin: -9% 0;
    font-size: 1.8rem;
    color: var(--bg); 
    text-shadow: -1px -1px 0 var(--detail), 1px -1px 0 var(--detail), 
    -1px 1px 0 var(--detail), 1px 1px 0 var(--detail);
    transition: all 0.2s ease-in-out;
}

.brand p{  
    text-align: center;
}

.brand p:nth-child(2){ 
    margin: -25% 0;
    font-size: 2.5rem;
}

.brand:hover{ 
    cursor: pointer;
    color: var(--white); 
    text-shadow: none;
}

@media (max-width: 1400px) {
    .brand { 
        margin: 1vh 0;
        font-size: 1.6rem;
    } 
    .brand p:nth-child(2){ 
        font-size: 2.3rem;
    }
    .brand p:nth-child(2){ 
        margin: -25%;
    }
}  

@media (max-width: 800px) {
    .brand { 
        margin: 3vh 0;
        font-size: 1.3rem;
    } 
    .brand p:nth-child(2){ 
        font-size: 1.8rem;
    }
    .brand p:nth-child(2){ 
        margin: -25%;
    }
} 

.navBG{
    position: fixed;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    background-color: var(--navBG);
    z-index: 10;
}

@media (max-width: 900px) {
    .navBG{
        height: 25vh;
    }
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 5vh 25vw;
    position: fixed; 
    inset: 0 auto auto 0;
    z-index: 50;
    transition: 0.3s ease-in-out;
}

.navlinks a { 
    color: var(--grey); 
    text-decoration: none; 
    font-size: 1rem;
    margin-left: 7vw; 
}

.navlinks a:hover { 
    color: var(--white);
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
    position: fixed;
    right: 20px;
    top: 6%;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: var(--detail);
    border-radius: 2px;
    transition: 0.3s;
}

@media (max-width: 900px) {

  .hamburger {
    display: flex;
  }

  .navlinks {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background: var(--navBG);
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 0;
    transform: translateX(200%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }

  .navlinks.open {
    transform: translateX(150%);
    opacity: 1;
    pointer-events: all;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}
@media (max-width: 600px) {
    .navlinks a { 
    font-size: 0.8rem;
    }
}

.section { 
    padding: 150px 24px; 
    max-width: 1200px; 
    margin: 0 auto;
    
}

.section-head { 
    display: flex; 
    flex-direction: column; 
    gap: 6px; 
    align-items: flex-start; 
    margin-bottom: 12px; 
}

.section-title { 
    font-family: Font; 
    color: var(--bg); 
    font-size: 28px; 
    margin: 7vh 0; 
    letter-spacing: 3px; 
    text-shadow: -1px -1px 0 var(--detail), 1px -1px 0 var(--detail), 
    -1px 1px 0 var(--detail), 1px 1px 0 var(--detail);
}
@media (max-width: 1400px) {
    .section-title {  
        margin: 7vh 10vw; 
    }
}

.section-sub { 
    color: var(--grey); 
    margin: 0; 
}

.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill,minmax(220px, 1fr)); 
    gap: 20px; 
    margin: 2vh 0; 
}

@media (max-width: 1400px) {
    .grid { 
        padding: 0 10vw 0 10vw;
    }
} 

.card {
    background: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01));
    border-radius: var(--card-radius);
    padding:12px;
    border:1px solid rgba(255,255,255,0.04);
    transition: transform .28s cubic-bezier(.2,.9,.3,1), box-shadow .28s;
    box-shadow: 0 8px 22px rgba(0,0,0,0.5);
    display: flex;
    flex-direction:column; 
    align-items:center; 
    text-align:center; 
    cursor:pointer;
    min-height: 260px;
    transform-style: preserve-3d;
}

.card:hover { 
    transform: translateY(-10px); 
    box-shadow: 0 24px 60px rgba(0,0,0,0.6); 
    border:1px solid var(--detail);
}


.img-wrap { 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 10px; 
    position: relative; 
    margin-bottom: 12px; 
    transition: border-radius .18s, transform .25s; 
}

.card.clickable .img-wrap { 
    border-radius: 28px; 
    box-shadow: inset 0 8px 20px rgba(255,232,31,0.04); 
}

.card img { 
    width: 100%; 
    height:100%;
    object-fit: cover; 
    display: block; 
}

.card h3 { 
    margin: 6px 0; 
    color: var(--detail); 
    font-family: Font; 
    font-size: 16px 
}

.card p { 
    margin:0; 
    color: var(--grey); 
    font-size: 13px 
}

.panel { 
    position: fixed; 
    inset: 0; 
    display: none; 
    align-items: center; 
    justify-content: center;
    z-index: 200; 
    transition: 0.2s ease;
}

.panel[aria-hidden="false"] { 
    display: flex; 
}

.panel-bg { 
    position: absolute; 
    inset: 0; 
    background: linear-gradient(180deg, rgba(2,6,23,0.9), rgba(2,6,23,0.96)); 
    backdrop-filter: blur(6px); 
}

.panel-panel { 
    position: relative; 
    z-index: 2; 
    width: min(450px, 94%); 
    padding: 20px; 
    border-radius: 12px; 
    background: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01)); 
    display: flex;
    gap: 18px; 
    box-shadow: 0 24px 60px rgba(0,0,0,0.8); }

.panel-close { 
    position: absolute; 
    right: 14px; 
    top: 12px; 
    background: transparent; 
    border: none; 
    color: var(--grey); 
    font-size: 35px; 
    cursor: pointer; 
    transition: 0.2s ease;
}

.panel-close:hover { 
    color: var(--white); 
}

.panel-left { 
    width: 340px; 
}

.panel-left img { 
    width: 100%; 
    height: 480px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.panel-right h2 { 
    margin: 0 0 8px 0; 
    color: var(--detail); 
    font-family: Font;
}

.panel-right p { 
    margin: 6px 0; 
    color: var(--grey) ;
}

.placeholder { 
    color: var(--grey); 
    padding: 24px; 
    text-align: center;
}

.site-footer { 
    text-align: center; 
    padding: 28px; 
    color: var(--grey); 
}

.HomeText{
    max-width: 700px;
    height: 50vh;
    margin: 0 auto; 
    text-align: center;   
    font-size: 1rem;
    padding: 5vh;
    color: var(--grey);
    line-height: 1;
}

.HomeText h2{ 
    font-size: 2rem;
    color: var(--bg); 
    text-shadow: -1px -1px 0 var(--detail), 1px -1px 0 var(--detail), 
    -1px 1px 0 var(--detail), 1px 1px 0 var(--detail);
}